<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link href="css/styles.css" rel="stylesheet"/>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

          <!--Bootstrap-->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

          <!--Aeris Reccomended-->
          <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

          <!--Vue-->
          <script src="https://cdn.jsdelivr.net/npm/vue"></script>

          <title>Alex Fiel - WFED Final</title>
     </head>
     <body>
          <div class="container-fluid">
               <!-- <header class="text-center">
                    <nav>
                         <button type="button" class="btn-secondary rounded"> Boulder </button>
                         <button type="button" class="btn-secondary rounded"> Denver </button>
                         <button type="button" class="btn-secondary rounded"> Greeley </button>
                    </nav>
               </header> -->
               <img class="img-fluid mx-auto d-block" src="img/AerisWeather-logo-dark.png" width="300"/>
               <main id="container" class="mx-auto" style="width: 400px;">
                    <div id="place search" class="input-group">
                         <input
                              id="cityInput"
                              v-model="cityText"
                              type="text"
                              maxlength="20"
                              class="form-control"
                              placeholder="City (IE: Seattle)"
                         />
                         <input
                              id="stateInput"
                              v-model="stateText"
                              type="text"
                              maxlength="2"
                              class="form-control"
                              placeholder="State Code (IE: WA)"
                              style="text-transform:uppercase"
                         />
                         <span class="input-group-btn">
                              <button class="btn btn-primary" @click="search_for()">&nbsp;&nbsp;<i class="fa fa-search"></i>&nbsp;&nbsp;</button>
                         </span>
                    </div>
                    <div id="wrongThing" class="alert alert-danger alert-dismissable">
                         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                         <strong>HEY</strong> Don't be stupid, stupid. Enter a real place.
                    </div>
                    <div id="js">
                         <!-- {{ cityText }}
                         {{ stateText }} -->
                    </div>
               </main>
          </div>
          <script src="scripts/aerisScripts.js"></script>
     </body>
</html>
